<section class="section about">
    <p class="about__title">tradition and love</p>
    <h2 class="about__title--details">how it’s made?</h2>
    <div class="about__table">
    <img srcset="./images/mobile/about/m-cowmilk-1x.png 1x, ./images/mobile/about/m-cowmilk-2x.png 2x" src="./images/mobile/about/m-cowmilk-1x.png" alt="cow" class="about__img--cow">
   
    <div>
    <p class="about__predescription">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.</p>
    <p class="about__description">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
    <br/>
    <br/>
         Aliquam erat volutpat. Aenean accumsan. </p>
    <button type="button" class="about__button">Read more <svg width="8" height="10" class="about__icon">
            <use href="./images/rowRight.svg#icon-Vector-1-2"></use>
        </svg></button>
    </div>
    </div>
    <ul class="about__list">
        <li class="about__list--item">
            <img class="about__icon--milkbucket" srcset="./images/advantages/cup-1x.png 1x, ./images/advantages/cup-2x.png 2x" src="./images/advantages/cup-1x.png" alt="bucket with milk">
            <h3 class="about__item--title">721</h3>
            <p class="about__item--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="about__list--item">
            <img class="about__icon--applebucket" srcset="./images/advantages/cherry-1x.png 1x, ./images/advantages/cherry-2x.png 2x" src="./images/advantages/cherry-1x.png" alt="bucket with apples">
            <h3 class="about__item--title">16kg</h3>
            <p class="about__item--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="about__list--item">
            <img class="about__icon--heart"srcset="./images/advantages/heart-1x.png 1x, ./images/advantages/heart-2x.png 2x" src="./images/advantages/heart-1x.png" alt="heart">
            <h3 class="about__item--title">84</h3>
            <p class="about__item--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>

</section>