<section class="section about">
    <h2 class="about__title">tradition and love</h2>
    <h3 class="about__title--details">how it’s made?</h3>
    <img src="./images/mobile/about/m-cowmilk-1x.png" alt="">
    <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.</p>
    <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.


        Aliquam erat volutpat. Aenean accumsan.</p>
    <button class='button'>Read more <svg width="8" height="10">
            <use href="./images/rowRight.svg#icon-Vector-1-2"></use>
        </svg></button>

    <ul>
        <li>
            <h3>721</h3>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li>
            <h3>16kg</h3>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li>
            <h3>84</h3>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>

</section>