<section class="section advantages" id="advantages">
    <div class="container">
        <h2 class="advantages__title--hidden">Advantages of our company</h2>
    <ul class="advantages__list">
        <li class="advantages__list--item">
            
            <h3 class="advantages__item--title">721</h3>
            <p class="advantages__item--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list--item">
        
            <h3 class="advantages__item--title">16kg</h3>
            <p class="advantages__item--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list--item">
            
            <h3 class="advantages__item--title">84</h3>
            <p class="advantages__item--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
    </div>
</section>