<section class="section advantages" id="advantages">
    <div class="container">
    <ul class="advantages__list">
        <li class="advantages__list--item">
            <img class="advantages__icon--milkbucket"
                srcset="./images/advantages/cup-1x.png 1x, ./images/advantages/cup-2x.png 2x"
                src="./images/advantages/cup-1x.png" 
                alt="bucket with milk">
            <h3 class="advantages__item--title">721</h3>
            <p class="advantages__item--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list--item">
            <img class="advantages__icon--applebucket"
                srcset="./images/advantages/cherry-1x.png 1x, ./images/advantages/cherry-2x.png 2x"
                src="./images/advantages/cherry-1x.png" 
                alt="bucket with apples">
            <h3 class="advantages__item--title">16kg</h3>
            <p class="advantages__item--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list--item">
            <img class="advantages__icon--heart"
                srcset="./images/advantages/heart-1x.png 1x, ./images/advantages/heart-2x.png 2x"
                src="./images/advantages/heart-1x.png" 
                alt="heart">
            <h3 class="advantages__item--title">84</h3>
            <p class="advantages__item--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
    </div>
</section>