<section class="section section--gradient"  id="contacts">
    <div class="container">
        <h2 class="contacts__title--hidden">Contacts</h2>
        <ul class="contacts__card-set">
            <li class="contacts__card">
                <p class="contacts__label">CAFE</p>
                <ul>
                    <li class="contacts__item">
                        <p class="contacts__text contacts__text--indent">Chicago</p>
                        <p class="contacts__detail">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="contacts__item">
                        <p class="contacts__text">Monday - Friday</p>
                        <p class="contacts__timetable">06:00 AM - 10:00 PM</p>
                        <p class="contacts__text">Saturday - Sunday</p>
                        <p class="contacts__timetable">08:00 AM - 16:00 PM</p> 
                    </li>
                    <li>
                        <a href="tel:+610383766284" class="contacts__detail contacts__detail--link"> +61(0) 383 766 284 </a>
                        <a href="mailto:noreply@envato.com" class="contacts__detail contacts__detail--link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__card">
                <p class="contacts__label contacts__label--accent">FOODTRUCK</p>
                <ul>
                    <li class="contacts__item">
                                <p class="contacts__text contacts__text--indent">Los Angeles</p>
                                <p class="contacts__detail">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="contacts__item">
                                <p class="contacts__text">Monday - Friday</p>
                                <p class="contacts__timetable">06:00 AM - 10:00 PM</p>
                                <p class="contacts__text">Saturday - Sunday</p>                                
                                <p class="contacts__timetable">08:00 AM - 16:00 PM</p>
                    </li>
                    <li>
                        <a href="tel:+610383766284" class="contacts__detail contacts__detail--link"> +61(0) 383 766 284 </a>
                        <a href="mailto:noreply@envato.com" class="contacts__detail contacts__detail--link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__card">
                <p class="contacts__label">CAFE</p>
                <ul>
                    <li class="contacts__item">
                                <p class="contacts__text contacts__text--indent">New York</p>
                                <p class="contacts__detail">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="contacts__item">
                                <p class="contacts__text">Monday - Friday</p>
                                <p class="contacts__timetable">06:00 AM - 10:00 PM</p>
                                <p class="contacts__text">Saturday - Sunday</p>
                                <p class="contacts__timetable">08:00 AM - 16:00 PM</p>
                    </li>
                    <li>
                        <a href="tel:+610383766284" class="contacts__detail contacts__detail--link"> +61(0) 383 766 284 </a>
                        <a href="mailto:noreply@envato.com" class="contacts__detail contacts__detail--link">noreply@envato.com</a>    
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="contacts__button-set">
            <li>
                <button type="button" class="contacts__button">
                    Our Locations
                    <svg width="8" height="10" class="contacts__icon"><use href="./images/rowRight.svg#icon-Vector-1-2"></use></svg>
                </button>
            </li>
            <li class="contacts__button-item">
                <button type="button" class="contacts__button contacts__button--secondary">
                    Franchise
                    <svg width="8" height="10" class="contacts__icon contacts__icon--secondary">
                        <use href="./images/rowRight.svg#icon-Vector-1-2"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>