<section class="section customer-reviews">
    <div class="container">
        <div class="customer-reviews__photo">
        <img srcset="./images/customer-reviews/customer1-1x.png 1x, ./images/customer-reviews/customer1-2x.png 2x" src="./images/customer-reviews/customer1-1x.png" alt="фото Emily, Los Angeles" width="85" />
        </div>
        <div class="customer-reviews__box">
            <p class="customer-reviews__text"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. </p>
        </div>       
        <p class="customer-reviews__name">Emily, Los Angeles</p>
    </div>   
</section>