<footer class="section footer">
    <div class="container footer__flex">
        <div>
            <p class="footer__title">homemade ice cream made</p>
            <p class="footer__subtitle">with passion</p>
        </div>
        <div>
            <ul class="footer__social">
                <li class="footer__social--item">
                    <a href="https://github.com/" target="_blank" class="footer__social--link">
                        <svg width="34" height="34" class="footer__social--icon">
                            <use href="../images/sprite.svg#github"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__social--item">
                    <a href="https://telegram.org/" target="_blank" class="footer__social--link">
                        <svg width="34" height="34" class="footer__social--icon">
                            <use href="../images/sprite.svg#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__social--item">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social--link">
                        <svg width="34" height="34" class="footer__social--icon">
                            <use href="../images/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer__contact">
                Feel free to contact 
                <a href="tel:+610383766284" class="footer__contact--phone">+61 (0) 383 766 284 </a>
            </p>
        </div>
    </div>
    <div class="footer__symbol">
        <p class="footer__symbol--text">
            &#169; 2019 - IceCream. All Rights Reserved.
        </p>
    </div>
</footer>