<header class="header" id="home">
  <!-- logo -->
  <!-- hero -->
  <section class="section hero container">
    <a href="./index.html">
      <picture>
        <img
          srcset="./images/header-logo/logo-1x.png 1x, ./images/header-logo/logo-2x.png 2x"
          src="./images/header-logo/logo-1x.png"
          alt="Логотип"
          class="logo"
          width="200"
          height="50"
        />
      </picture>
    </a>

    <nav class="page-nav">
      <ul class="page-nav__list">
        <li class="page-nav__item">
          <a href="#him" class="page-nav__link current">Home</a>
        </li>
        <li class="page-nav__item">
          <a href="#him" class="page-nav__link">About us</a>
        </li>
        <li class="page-nav__item">
          <a href="#him" class="page-nav__link">How it’s made?</a>
        </li>
        <li class="page-nav__item">
          <a href="#him" class="page-nav__link">Our products</a>
        </li>
        <li class="page-nav__item">
          <a href="#contacts" class="page-nav__link js-close-menu-contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- logo -->

    <button type="button" class="buy">Buy now</button>
    <button
      type="button"
      class="menu-button js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      data-menu-button
    >
      <svg class="menu-icon">
        <use href="./images/close-open.svg#icon-burger"></use>
      </svg>
    </button>
    <h1 class="hero__title">
      ice cream made with <span class="hero__title--sub-color">passion</span>
    </h1>

    <picture>
      <source
        srcset="
          ./images/desktop/hero/d-icecream-1x.png 1x,
          ./images/desktop/hero/d-icecream-2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/tablet/hero/t-icecream-1x.png 1x,
          ./images/tablet/hero/t-icecream-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img
        srcset="
          ./images/mobile/hero/m-icecream-1x.png 1x,
          ./images/mobile/hero/m-icecream-2x.png 2x
        "
        src="./images/mobile/hero/m-icecream-1x.png"
        alt="Мороженное"
        class="icecream"
      />
    </picture>

    <picture>
      <source
        srcset="./images/desktop/hero/d-cafe-1x.png 1x, ./images/desktop/hero/d-cafe-2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/tablet/hero/t-cafe-1x.png 1x, ./images/tablet/hero/t-cafe-2x.png 2x"
        media="(min-width: 768px)"
      />
      <img
        srcset="./images/tablet/hero/t-cafe-1x.png 1x, ./images/tablet/hero/t-cafe-2x.png 2x"
        src="./images/tablet/hero/t-cafe-1x.png"
        alt="Количество кафе"
        class="cafe"
      />
    </picture>

    <picture>
      <source
        srcset="./images/desktop/hero/d-food-1x.png 1x, ./images/desktop/hero/d-food-2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/tablet/hero/t-food-1x.png 1x, ./images/tablet/hero/t-food-2x.png 2x"
        media="(min-width: 768px)"
      />
      <img
        srcset="./images/tablet/hero/t-food-1x.png 1x, ./images/tablet/hero/t-food-2x.png 2x"
        src="./images/tablet/hero/t-food-1x.png"
        alt="Количество фудтраков"
        class="food"
      />
    </picture>

    <picture>
      <source
        srcset="./images/desktop/hero/d-milk-1x.png 1x, ./images/desktop/hero/d-milk-2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/tablet/hero/t-milk-1x.png 1x, ./images/tablet/hero/t-milk-2x.png 2x"
        media="(min-width: 768px)"
      />
      <img
        srcset="./images/tablet/hero/t-milk-1x.png 1x, ./images/tablet/hero/t-milk-2x.png 2x"
        src="./images/tablet/hero/t-milk-1x.png"
        alt="Натуральное молоко"
        class="milk"
      />
    </picture>

    <picture>
      <source
        srcset="
          ./images/desktop/hero/d-icegirl-1x.png 1x,
          ./images/desktop/hero/d-icegirl-2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/tablet/hero/t-icegirl-1x.png 1x, ./images/tablet/hero/t-icegirl-2x.png 2x"
        media="(min-width: 768px)"
      />
      <img
        srcset="./images/tablet/hero/t-icegirl-1x.png 1x, ./images/tablet/hero/t-icegirl-2x.png 2x"
        src="./images/tablet/hero/t-icegirl-1x.png"
        alt="Вкусно"
        class="icegirl"
      />
    </picture>

    <ul class="hero__buttons">
      <li class="hero__item">
        <a href="#products" class="hero__button">Products</a>
      </li>
      <li class="hero__item">
        <a href="#him" class="hero__button--colored">How it’s made?</a>
      </li>
    </ul>
    <!-- <div class="hero-wrapper"> -->
    <p class="hero-wrapper__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <button class="hero-wrapper__button">
      <picture>
        <img
          srcset="./images/product-arrow/arrow-1x.png 1x, ./images/product-arrow/arrowr-2x.png 2x"
          src="./images/product-arrow/arrow-1x.png"
          alt="Логотип"
          class="hero-wrapper__button-icon"
        />
      </picture>
    </button>
    <!-- </div> -->
  </section>

  <!-- hero -->
</header>
