<div class="menu js-menu-container container" id="mobile-menu">
  <button type="button" class="menu-toggle js-close-menu menu__button">
    <svg class="menu__close">
      <use href="./images/close-open.svg#icon-close"></use>
    </svg>
  </button>

  <button type="button" class="modal-button">
    Buy now
    <svg width="10" height="10" class="modal-button__arrow">
      <use href="./images/rowRight.svg#icon-Vector-1-2"></use>
    </svg>
  </button>

  <nav class="nav-menu">
    <ul class="nav-menu__lsit">
      <li class="nav-menu__item">
        <a href="" class="nav-menu__link">Home</a>
      </li>
      <li class="nav-menu__item">
        <a href="" class="nav-menu__link">About us</a>
      </li>
      <li class="nav-menu__item">
        <a href="" class="nav-menu__link">How it’s made?</a>
      </li>
      <li class="nav-menu__item">
        <a href="" class="nav-menu__link">Our products</a>
      </li>
      <li class="nav-menu__item">
        <a href="" class="nav-menu__link">Contact</a>
      </li>
    </ul>
  </nav>
</div>
