<div class="menu js-menu-container container" id="mobile-menu">
  <button type="button" class="menu-toggle js-close-menu menu__button">
    <svg class="menu__close">
      <use href="./images/close-open.svg#icon-close"></use>
    </svg>
  </button>

  <button type="button" class="modal-button">Buy now</button>

  <nav class="nav-menu">
    <ul class="nav-menu__list">
      <li class="nav-menu__item">
        <a href="#him" class="nav-menu__link current">Home</a>
      </li>
      <li class="nav-menu__item">
        <a href="#him" class="nav-menu__link">About us</a>
      </li>
      <li class="nav-menu__item">
        <a href="#him" class="nav-menu__link">How it’s made?</a>
      </li>
      <li class="nav-menu__item">
        <a href="#him" class="nav-menu__link">Our products</a>
      </li>
      <li class="nav-menu__item">
        <a href="#contacts" class="nav-menu__link js-close-menu-contacts">Contact</a>
      </li>
    </ul>
  </nav>
</div>
