<section class="section">
    <div class="container">
        <p class="product__lable">100% natural</p>
        <h2 class="product__title">products</h2>
        <ul class="product">
            <li class="product__item product__item--bgPink">
                <h3 class="product__name">ice cream</h3>
                <p class="product__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et. dolore magna aliqua facilisis.
                </p>
            </li>
            <li class="product__item product__item--bgBrown">
                <h3 class="product__name">ice coffee</h3>
                <p class="product__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et. dolore magna aliqua facilisis.
                </p>
            </li>
            <li class="product__item product__item--bgGreen">
                <h3 class="product__name">milkshakes</h3>
                <p class="product__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et. dolore magna aliqua facilisis.
                </p>
            </li>
        </ul>
    </div>
</section>