<section class="section" id="products">
    <div class="container">
        <p class="section__label">100% natural</p>
        <h2 class="section__title">products</h2>
        <ul class="product">
            <li class="product__item product__item--bgPink">
                <h3 class="product__name">ice cream</h3>
                <p class="product__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et. dolore magna aliqua facilisis.
                </p>
                <button class="button-more">
                    <picture>
                        <img
                          srcset="./images/product-arrow/arrow-1x.png 1x, ./images/product-arrow/arrowr-2x.png 2x"
                          src="./images/product-arrow/arrow-1x.png"
                          alt="кнопка-more"
                          class="button-more__icon"
                        />
                      </picture>
                </button>
            </li>
            <li class="product__item product__item--bgBrown">
                <h3 class="product__name">ice coffee</h3>
                <p class="product__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et. dolore magna aliqua facilisis.
                </p>
                <button class="button-more">
                    <picture>
                        <img
                          srcset="./images/product-arrow/arrow-1x.png 1x, ./images/product-arrow/arrowr-2x.png 2x"
                          src="./images/product-arrow/arrow-1x.png"
                          alt="кнопка-more"
                          class="button-more__icon"
                        />
                      </picture>
                </button>
            </li>
            <li class="product__item product__item--bgGreen">
                <h3 class="product__name">milkshakes</h3>
                <p class="product__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et. dolore magna aliqua facilisis.
                </p>
                <button class="button-more">
                    <picture>
                        <img
                          srcset="./images/product-arrow/arrow-1x.png 1x, ./images/product-arrow/arrowr-2x.png 2x"
                          src="./images/product-arrow/arrow-1x.png"
                          alt="кнопка-more"
                          class="button-more__icon"
                        />
                      </picture>
                </button>
            </li>
        </ul>
    </div>
</section>