.about {
  background-color: #fff5f6;
  padding-top: 125px;
  padding-bottom: 40px;
  background-image: url(../images/mobile/about/m-milkbox-1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 766px;

  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 65px;
    background-position-y: 330px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    background-image: none;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 40px;
    background-position-y: 342px;
    background-image: url(../images/mobile/about/m-milkbox-2x.png);
  }
}

// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .about {
//     background-image: url(../images/mobile/about/m-milkbox-2x.png);
//   }
// }

.about__title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  color: $light-accent-text-coloure;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.about__title--details {
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-transform: uppercase;
  display: block;
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  letter-spacing: 0.04em;

  color: $dark-accent-text-coloure;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    margin-bottom: 50px;
    width: auto;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
    margin-bottom: 55px;
  }
}
.about__descriptoin--total {
  padding-top: 0px;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
  }
}
.about__predescription {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: $secondary-text-coloure;
  display: block;
  width: 220px;
  height: 95px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    // margin-top: 50px;
    width: 340px;
    // height: 96px;
    font-size: 14px;
    line-height: 1.78;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1280px) {
    width: 463px;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}

.about__description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907e82;
  display: block;
  width: 220px;
  height: 185px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    width: 340px;
    font-size: 14px;
    line-height: 1.78;
    margin-bottom: 60px;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    width: 463px;
    font-size: 14px;
    line-height: 1.92;
    letter-spacing: 0.04em;
    margin-bottom: 45px;
  }
}

.about__button {
  height: 44px;
  width: 176px;
  border-radius: 22px;
  border-color: transparent;
  background-color: $primery-text-coloure;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: $dark-accent-text-coloure;
  display: block;
  margin-left: 30px;

  stroke: $dark-accent-text-coloure;

  &:focus,
  &:hover {
    background-color: #ecebeb;
    // color: $primery-text-coloure;
    // stroke: $primery-text-coloure;
  }

  @media screen and (min-width: 768px) {
    margin-left: 0;
    font-size: 16px;
    line-height: 1.31;
  }
}

// .about__button--details {
//   padding-left: 30px;

//   @media screen and (min-width: 768px) {
//     padding-left: 0;
//   }
// }

.about__icon {
  margin-left: 13px;
  fill: $dark-accent-text-coloure;

  &:focus,
  &:hover {
    fill: $primery-text-coloure;
  }
}

.about__img--cow {
  width: 280px;
  height: 279px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  @media screen and (min-width: 768px) {
    width: 340px;
    height: 339px;
    margin: 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 516px;
    height: 516px;
  }
}

.about__table {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
