@import './menu';

@-webkit-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.header {
  -webkit-animation: fade-in 1s cubic-bezier(0.4, 0, 0.2, 1); /* Safari 4+ */
  -moz-animation: fade-in 1s cubic-bezier(0.4, 0, 0.2, 1); /* Fx 5+ */
  -o-animation: fade-in 1s cubic-bezier(0.4, 0, 0.2, 1); /* Opera 12+ */
  animation: fade-in 1s cubic-bezier(0.4, 0, 0.2, 1); /* IE 10+, Fx 29+ */
}

.header {
  background-color: #ffb8ca;
  position: relative;

  &__totop {
    z-index: 2;
    position: fixed;
    top: 87%;
    right: 20px;
  }

  // @media screen and (min-width: 768px) {
  //   padding-left: 20px;
  //   padding-right: 20px;
  // }

  //   background-image: url('../images/mobile/hero/m-icecream-1x.png'),
  //     url('../images/tablet/hero/t-ellipse-1x.png');
  //   background-repeat: no-repeat;
  //   background-position: 117px 92px, 36px 83px;
  //   background-size: 171px, 346px;
}

// .logo-n-menu {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   @media screen and (min-width: 768px) {
//     display: none;
//   }
// }

.logo {
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 20px;
  @media screen and (min-width: 768px) {
    top: 37px;
    left: 34px;

    @media screen and (min-width: 1280px) {
      top: 37px;
      left: 46px;
    }
  }
}

.page-nav {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;

    position: absolute;
    z-index: 1;

    top: 50px;
    left: 355px;

    &__list {
      display: flex;
    }

    &__item:not(:last-child) {
      margin-right: 35px;
    }

    &__link {
      font-family: DM Sans;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.3;

      color: #ffffff;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;

      // &.current {
      //   color: #d41443;
      // }

      &:hover, &:focus {
        color: #d41443;
      }
    }
  }
}

.menu {
  &-button {
    position: absolute;
    z-index: 1;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    top: 5px;
    right: 20px;
    @media screen and (min-width: 768px) {
      top: 42px;
      right: 214px;
    }

    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    padding: 0;

    cursor: pointer;

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  &-icon {
    width: 40px;
    height: 40px;
    fill: #d41443;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.hero {
  position: relative;
  height: 502px;

  @media screen and (min-width: 768px) {
    height: 400px;
    @media screen and (min-width: 1280px) {
      height: 665px;
    }
  }

  .hero-wrapper {
    &__text {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
        position: absolute;
        bottom: 59px;
        left: 154px;

        font-family: DM Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 150%;
        width: 122px;
        // height: 48px;

        color: #ffffff;

        // margin-bottom: 7px;

        @media screen and (min-width: 1280px) {
          bottom: 102px;
          left: 295px;
          line-height: 140%;
          width: 200px;
          max-height: 78px;
          font-size: 14px;
          line-height: 1.42;
        }
      }
    }

    &__button {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
        cursor: pointer;

        position: absolute;
        bottom: 34px;
        left: 154px;

        border: 0;
        padding: 0;
        border-radius: 50%;

        width: 18px;
        height: 18px;

        background-color: transparent;

        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 1280px) {
          bottom: 56px;
          left: 295px;
          width: 26px;
          height: 26px;
        }
      }

      // &-icon {
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      // }
    }
  }

  .icecream {
    position: absolute;
    width: 171px;
    z-index: 0;
    top: 18.3%;
    left: 36%;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      width: 324px;
      height: 368px;
      left: 40%;
      top: 8%;

      @media screen and (min-width: 1280px) {
        width: 538px;
        height: 616px;
        top: 49px;
        left: 475px;
      }
    }
  }

  .cafe {
    display: none;
    @media screen and (min-width: 768px) {
      position: absolute;
      z-index: 1;

      width: 43px;
      top: 94px;
      right: 34px;

      display: block;

      @media screen and (min-width: 1280px) {
        width: 72px;
        top: 156px;
        right: 97px;
      }
    }
  }

  .food {
    display: none;
    @media screen and (min-width: 768px) {
      position: absolute;
      z-index: 1;

      width: 51px;
      top: 151px;
      right: 34px;

      display: block;
      @media screen and (min-width: 1280px) {
        width: 92px;
        top: 248px;
        right: 97px;
      }
    }
  }

  .milk {
    display: none;
    @media screen and (min-width: 768px) {
      position: absolute;
      z-index: 1;

      width: 124px;
      bottom: 28px;
      left: 34px;

      display: block;

      @media screen and (min-width: 1280px) {
        left: 77px;
        bottom: 45px;
        width: 188px;
      }
    }
  }

  .icegirl {
    display: none;
    @media screen and (min-width: 768px) {
      position: absolute;
      z-index: 1;

      width: 168px;
      top: 266px;
      right: 34px;

      display: block;

      @media screen and (min-width: 1280px) {
        width: 293px;
        top: 433px;
        right: 109px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    background-image: url('../images/tablet/hero/t-ellipse-1x.png');
    background-repeat: no-repeat;
    // background-position: 320% 12%;
    background-position-x: 36px;
    background-position-y: 83px;
    background-size: 346px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/tablet/hero/t-ellipse-2x.png');
    }
  }

  &__title {
    position: absolute;
    top: 193px;
    left: 20px;
    z-index: 1;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    @media screen and (min-width: 768px) {
      top: 102px;
      left: 34px;
      font-size: 22px;
      line-height: 1.14;
      @media screen and (min-width: 1280px) {
        top: 171px;
        left: 115px;
        line-height: 1.16;
        font-size: 38px;
      }
    }
    letter-spacing: 0.04em;
    text-transform: uppercase;

    width: 100%;
    max-width: 218px;

    @media screen and (min-width: 768px) {
      width: 100%;
      max-width: 168px;
      max-height: 80px;
      @media screen and (min-width: 1280px) {
        max-width: 277px;
        max-height: 137px;
      }
    }

    color: $primery-text-coloure;
  }
  &__title--sub-color {
    font-size: 48px;
    line-height: 1;

    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 1.14;
      @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 0.9;
      }
    }

    color: #d41443;
  }

  &__buttons {
    position: absolute;
    z-index: 1;

    top: 318px;
    left: 20px;
    @media screen and (min-width: 768px) {
      top: 202px;
      left: 34px;
      @media screen and (min-width: 1280px) {
        left: 115px;
        top: 333px;
      }
    }

    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button,
  &__button--colored {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;

    font-size: 8px;
    line-height: 1.25px;

    text-align: center;

    border: 0;
    border-radius: 22px;

    cursor: pointer;

    background-color: #d41443;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #c7133e;
    }

    color: #ffffff;
    padding: 9px 14px;

    width: 63px;
    height: 24px;

    @media screen and (min-width: 1280px) {
      width: 104px;
      height: 40px;

      padding: 15px 22px;

      font-size: 14px;
      line-height: 1.29;
    }
  }

  &__button--colored {
    color: #d41443;
    background-color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 83px;
    @media screen and (min-width: 1280px) {
      width: 138px;
    }
    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }

  .buy {
    display: none;
    padding: 0;
    @media screen and (min-width: 768px) {
      display: block;

      position: absolute;
      z-index: 2;

      top: 38px;
      right: 34px;

      font-family: DM Sans;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      text-align: center;

      width: 160px;
      // max-width: 160px;
      height: 44px;

      border: 0;
      border-radius: 22px;

      color: #d41443;
      background-color: #ffffff;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background-color: #ecebeb;
      }

      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        position: absolute;

        content: '';
        top: 19px;
        right: 27px;

        width: 8px;
        height: 10px;

        background-image: url('../images/row.svg');
        background-repeat: no-repeat;
      }
      @media screen and (min-width: 1280px) {
        right: 115px;
      }
    }
  }
}
